

body{
    background-color: #9E9E9E ;
    display: flex;
   
    flex-direction: column;
    align-items: center;
}

form {
    width: 300px;
}

input{
    width: 300px;
}

input.input1{
    display: inline;
    width: 150px;
}

a{
    text-decoration: none;
}