
body{
    background-color: #9E9E9E ;
}


/*Barre de navigation*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8a25b1;
    width: 100%;
}

nav ul li {
    float: left;
    border-right: solid 1px white ;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav ul li a:hover:not(.active) {
    background-color: #BDBDBD;
    color: black;
}

.active {
    background-color: #E040FB;
}

/*Connexion / Creation compte*/
ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8a25b1;
    width: 222px;
}

li {
    float: right;
    border-right: solid 1px white;
    width: 110px;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

